body {
  background-color: #212121;
  overflow: hidden;
}

body,
h1,
p {
  margin: 0;
}

.text {
  color: #e0e0e0;
  font-family: 'Outfit', sans-serif;
  user-select: none;
}

.hidetext {
  opacity: 0;
}

#centered {
  height: 100cqh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  color: #bdbdbd;
  font-size: 7cqw;
  line-height: 1.3;
}

.headerMobile {
  font-size: 10cqw !important;
}

#subheaderContainer {
  margin: auto;
  width: 95%;
  font-size: 1.7cqw;
  line-height: 0.85;
  text-align: justify;
  text-align-last: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheaderMobile {
  font-size: 2.45cqw !important;
}

#copyright {
  font-weight: 200;
  font-size: clamp(1rem, 1.125cqw, 1.125cqw);
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.copyrightMobile {
  font-size: 2.5cqw !important;
}
