:root {
   --md-ref-typeface-plain: 'Outfit';
   --md-sys-color-primary: #ffb5a0;
   --md-sys-color-on-primary: #5f1500;
   --md-sys-color-secondary: #ffb5a0;
 }

* {
   transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
   transition-property: margin, height, border-radius, max-width, width;
}

body {
  background-color: #2c1c17;
  /* overflow: hidden; */
}

body,
h1,
p {
  margin: 0;
}

.text {
  color: #ffb5a0;
  font-family: 'Outfit', sans-serif;
}

.hidetext {
  opacity: 0;
}

#centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #1e100c;
  border-radius: 2cqw;
  padding: 5vh;
}

#header {
  color: #ffb5a0;
  font-size: 7cqw;
  padding-bottom: 0.75vh;
}

#header::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.5) * 0.5em);
}

.headerMobile {
  font-size: 10cqw !important;
}

#subheaderContainer {
  margin: auto;
  width: 95%;
  font-size: 1.7cqw;
  line-height: 0.85;
  text-align: justify;
  text-align-last: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheaderMobile {
  font-size: 2.45cqw !important;
}

#copyright {
  font-weight: 200;
  font-size: 1.125cqw;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.copyrightMobile {
  font-size: 2.5cqw !important;
}
